/*
   The sticky header was taken from : http://css-tricks.com/snippets/css/sticky-footer/ ;
 */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -52px;
    padding-bottom: 50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 52px;
}

.footer-text {
    padding-top: 30px;
}